/* Callout box - fixed position at the bottom of the page */
.callout {
    position: fixed;
    bottom: 45%;
    right: 40%;
    max-width: 40%;
    min-width: 20%;
    min-height: 15%;
    text-align: center;
    display:none;
  }
 
  /* Callout header */
  .callout-header {
    padding: 25px 15px;
    background: #555;
    font-size: 30px;
    color: white;
  }
 
  /* Callout container/body */
  .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: black
  }
 
  /* Close button */
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
 
  /* Change color on mouse-over */
  .closebtn:hover {
    color: lightgrey;
  }